@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: Ubuntu;
}

.clearfix {
    overflow: auto;
}

h1,
h2,
h3,
h4 {
    font-family: Ubuntu;
    font-weight: 700;
}


/*************************************************
* Nav
**************************************************/

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.nav {
    padding-top: 30px;
    padding-bottom: 10px
}

.menu {
    list-style: none;
    /*padding-top: 50px;*/
    display: none;
    padding-bottom: 10px;
}

.menu-item {
    text-align: center;
    width: 100%;
    line-height: 3em;
    font-size: 1.4em;
}

a {
    text-decoration: none;
}

a:visited {
    color: #000;
}

.menu-item:hover {
    background-color: #ddd;
}

.search-form {
    max-height: 36px;
    float: right;
}

.search {
    float: right;
    padding-left: 5px;
}

.hamburger {
    float: left;
}

.line {
    height: 3px;
    background-color: #ddd;
}
.uname {
    float: right;
    margin: 0 auto;
}

.username {
    display: inline-block;
    margin-right: 30px;
}

/***************************************************
* End Nav
***************************************************/

.logo {
    margin-top: 30px;
    margin-bottom: 30px;
    /*height: 150px;*/
    line-height: 150px;
}

.flexslider .slides img {
    min-height: 560px;
    overflow: hidden;
    width: auto;
}

.img1 {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('/images/stock_1.jpg');
}

.img2 {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('/images/stock_2.jpg');
}

.img3 {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('/images/stock_3.jpg');
}

.content h2 {
    padding-bottom: 30px
}

.content p {
    padding-bottom: 20px;
}

.pure-g .legal {
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
}

.logo-sm {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: auto;
    max-height: 60px;
    vertical-align: center;
    padding: 10px auto;
}

.logo-holder {
    height: 100px;
}

.logo-container {
    padding-top: 20px;
}

.graph {
    max-width: 100%;
    width: 100%;
    height: 700px;
}

.graph img {
    width: 100%;
}

.buffer {
    padding-top: 30px;
}

.buffer-sm {
    padding-top: 15px;
}

.pure-form textarea {
    height: 300px;
    width: 100%;
}

.mail-holder {
    box-sizing: border-box;
    padding-right: 30px;
}

.twitter-wrapper {
    height: 630px;
    background-color: #27A7DE;
}

.twitter-wrapper > .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.twitter-wrapper h1,
.twitter-wrapper h2 {
    color: white;
}

@media screen and (max-width: 64em) {
    .mail {
        margin-bottom: 15px;
    }
}

.pure-button {
    color: white;
    background-color: #555;
}


.services {
    box-sizing: border-box;
    padding: 20px 10px 10px 10px;
}

.services img {
    max-width: 100%;
}

.rooms_desc img {
    max-width: 500px;
}

.services h2 {
    margin: 0px auto;
    text-align: center;
    padding: 5px;
}

form {
    margin: 0px auto;
    max-width: 300px;
    text-align:center;
}

.reservations {

    margin: 0px auto;
    max-width: 600px;
    text-align:left;
    padding-bottom: 100px;
}

.reservations ul, .res_list {
    list-style: none;
}

.reservations ul li, .res_list li {
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    transition: 0.1s background-color ease-in-out;
}

.reservations ul li:hover, .res_list li:hover{
    background-color: #ccffcc;
}

li a {
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    border: 1px;
    border-radius: 10px;
    color: white;
    background-color: black;
    transition: 0.5s background-color ease-in-out;
}
li a:hover {
    background-color: #555;
}
.cancel {
    float:right;
}
legend {
    text-align: center;
}
form input{
    display:inline-block;
    margin-bottom: 15px;
    font-size: 24px;
    width:380px!important;
    height:50px!important;
    line-height: 50px!important;
    border-radius: 5px;
}
form label{
    font-size: 24px;
}

.uname a{
    display: inline-block;
    width:150px;
    height:35px;
    background-color: black;
    margin-right: 5px;
    border-radius: 10px;
    color:white;
    text-align:center;
    line-height: 35px;
    font-size:20px;
    font-weight: bold;
    transition: 0.5s background-color;
}
.uname a:hover{
    background-color:gray;
}

.res_list {
    
}
.chart {
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    min-height: 400px;
    border: 1px solid;
}

.links a{
        display: inline-block;
    width: 150px;
    height: 35px;
    background-color: black;
    margin-right: 5px;
    border-radius: 10px;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
}

.flex-content {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.error_message {
    color: red;
    font-size: 30px;
    font-weight: bold;
    font-family: Ubuntu;
}