<%- include partials/head.ejs %>

<div class="content">
    <div class="links"><a href="/admin_active">Active reservations</a> <a href="/admin_reservations">Upcoming Reservations</a></div>
    <div class="pure-g">
        <div class="pure-u-1-4 chart" data-used=<%= sg_used.toString() %> data-free=<%= sg_free.toString() %> id="chart1"></div>
        <div class="pure-u-1-4 chart" data-used=<%= db_used.toString() %> data-free=<%= db_free.toString() %> id="chart2"></div>
        <div class="pure-u-1-4 chart" data-used=<%= cp_used.toString() %> data-free=<%= cp_free.toString() %> id="chart3"></div>
        <div class="pure-u-1-4 chart" data-used=<%= ap_used.toString() %> data-free=<%= ap_free.toString() %> id="chart4"></div>
        <div class="pure-u-1 chart" 
        data-jan=<%=cal_s.jan.toString() + ',' + cal_d.jan.toString() + ',' + cal_c.jan.toString() + ',' + cal_a.jan.toString()%> 
        data-feb=<%=cal_s.feb.toString() + ',' + cal_d.feb.toString() + ',' + cal_c.feb.toString() + ',' + cal_a.feb.toString()%>
        data-mar=<%=cal_s.mar.toString() + ',' + cal_d.mar.toString() + ',' + cal_c.mar.toString() + ',' + cal_a.mar.toString()%>
        data-apr=<%=cal_s.apr.toString() + ',' + cal_d.apr.toString() + ',' + cal_c.apr.toString() + ',' + cal_a.apr.toString()%>
        data-mai=<%=cal_s.mai.toString() + ',' + cal_d.mai.toString() + ',' + cal_c.mai.toString() + ',' + cal_a.mai.toString()%>
        data-jun=<%=cal_s.jun.toString() + ',' + cal_d.jun.toString() + ',' + cal_c.jun.toString() + ',' + cal_a.jun.toString()%>
        data-jul=<%=cal_s.jul.toString() + ',' + cal_d.jul.toString() + ',' + cal_c.jul.toString() + ',' + cal_a.jul.toString()%>
        data-aug=<%=cal_s.aug.toString() + ',' + cal_d.aug.toString() + ',' + cal_c.aug.toString() + ',' + cal_a.aug.toString()%>
        data-sep=<%=cal_s.sep.toString() + ',' + cal_d.sep.toString() + ',' + cal_c.sep.toString() + ',' + cal_a.sep.toString()%>
        data-oct=<%=cal_s.oct.toString() + ',' + cal_d.oct.toString() + ',' + cal_c.oct.toString() + ',' + cal_a.oct.toString()%>
        data-nov=<%=cal_s.nov.toString() + ',' + cal_d.nov.toString() + ',' + cal_c.nov.toString() + ',' + cal_a.nov.toString()%>
        data-dec=<%=cal_s.dec.toString() + ',' + cal_d.dec.toString() + ',' + cal_c.dec.toString() + ',' + cal_a.dec.toString()%>
        id="chart5"></div>
        <div class="pure-u-1-2 res_list">
            
        </div>
        <div class="pure-u-1-2 res_list">
            
        </div>
    </div>
</div>
<%- include partials/tail.ejs %>