<%- include partials/head.ejs %>
    <div class="content">
        <ul class="res_list">
            <% for(var i = 0; i < res.length; i++) { %>
                <% var item = res[i].split(':'); %>
                <li><%= new Date(Number(item[1])* (1000 * 60 * 60 * 24)).toDateString() %> - <%= new Date(Number(item[2])* (1000 * 60 * 60 * 24)).toDateString() %> - <%= item[3] %> - <%= item[4] %> <a href=<%='/reservations/cancel/:'+res[i] %> >Cancel</a> - <a href=<%='/reservations/activate/:'+res[i] %> >Activate </a></li>
            <% } %>
        </ul>
        
    </div>
<%- include partials/tail.ejs %>