<%- include partials/head.ejs %>
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="img1"> </div>
            </li>
            <li>
                <div class="img2"> </div>
            </li>
            <li>
                <div class="img3"> </div>
            </li>
        </ul>
    </div>
    <div class="content">
        <h2>About Hotel Sandor</h2>
        <p>
            Located right on Victoria, El-Dorado picturesque Inner Harbour, the Hotel Sandor offers guests welcoming comfort, world-class facilities, an unbeatable location, and access to Victoria’s most exciting experiences. 
        </p>
        <p> 
        </p>
        <p>
        </p>
        <div class="pure-g">
            <div class="pure-u-1-2 services" ><img src="/images/breakfast.jpg">
            <h2>Breakfast</h2>
            </div>
            <div class="pure-u-1-2 services" ><img src="/images/bed.jpeg">
            <h2>Fantastic accomodations</h2>
            </div>
            <div class="pure-u-1-2 services" ><img src="/images/pool.jpg">
            <h2> Pool and spa</h2>
            </div>
            <div class="pure-u-1-2 services" ><img src="/images/internet.jpeg">
            <h2>High speed internet</h2>
            </div>
        </div>
    </div>

<%- include partials/tail.ejs %>