<%- include partials/head.ejs %>
<div class="content">
    <form class="form" method="post">
        <fieldset>
            <legend>Log in</legend>
            <label for="email">Email:</label><input type="email" name="email" class="email" placeholder="Email">
            
            <label for="password">Password:</label><input type="password" class="password" name="password" placeholder="Password">
            
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </fieldset>
    </form>
</div>
<%- include partials/tail.ejs %>