<%- include partials/head.ejs %>
<div class="content">
    <form class="form" method="post">
        <fieldset>
            <legend>Register</legend>
            <label for"fname">First Name: <input type="text" name="fname" placeholder="First Name"></label>
            <label for"lname">Last Name: <input type="text" name="lname" placeholder="Last Name"></label>
            <label for="email">Email:<input type="email" name="email" class="email" placeholder="Email"></label>
            <label for="password">Password:<input type="password" class="password" name="password" placeholder="Password"></label>
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </fieldset>
    </form>
</div>
<%- include partials/tail.ejs %>