<%- include partials/head.ejs %>
<div class="content">
    <div class="reservations">
        <legend> Current reservations</legend>
        <ul>
        <% if(reservations.length > 0) { %>
            <% reservations.forEach(function(item, index) { %>
                <li> <%= new Date(Number(item.split(':')[1]) * (1000 * 60 * 60 * 24)).toDateString() %> - <%= new Date(Number(item.split(':')[2]) * (1000 * 60 * 60 * 24)).toDateString() %> - <%= item.split(':')[4] %> <a class="cancel" href=<%= '/reservations/cancel/:'+item %>> Cancel </a></li>
            <% }); %>
        <% } %>
        </ul>
        
    </div>
    <form class="pure-form" method="post">
        <fieldset>
            <legend>Make a new reservation</legend>
            <label for="from-date">From:</label>
            <input type="date" class="from-date" name="from-date">
            <label for="to-date">To:</label>
            <input type="date" class="to-date" name="to-date">
            <label for="roomtype">Roomtype:</label>
            <select class="roomtype" name="roomtype">
                <% roomtypes.forEach(function(item, index){ %>
                    <option value=<%=item%>><%= item %></option>
                <% }); %>
            </select>
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </fieldset>
    </form>
</div>
<%- include partials/tail.ejs %>