<%- include partials/head.ejs %>
    <div class="content">
        <h2> Our rooms</h2>
        <div class="pure-g rooms_desc">
            <div class="pure-u-1-2 services" ><img src="/images/single-bed.jpeg">
            </div>
            <div class="pure-u-1-2 services">
                <h1> Single Room</h1>
                <p>Our single rooms feature a Single Bed</p>
                <p>Bathroom with shower cabinet</p>
                <p>Free Internet access and a single desk</p>
                <p>Cable Television</p>
            </div>
            <div class="pure-u-1-2 services" ><img src="/images/two-beds.jpg"></div>
            <div class="pure-u-1-2 services">
                <h1> Double Room</h1>
                <p>Our double rooms feature two Single Beds</p>
                <p>Bathroom with shower cabinet</p>
                <p>Free Internet access and two desks</p>
                <p>Cable Television</p>
                <p>Small balcony to get some fresh air</p>
            </div>
            <div class="pure-u-1-2 services" ><img src="/images/bed.jpeg">
            </div>
            <div class="pure-u-1-2 services">
                <h1>Couple Room</h1>
                <p>Our couples rooms feature a Queen Sized Bed</p>
                <p>Bathroom with shower cabinet an Bathtub</p>
                <p>Free Internet access and a single desk</p>
                <p>Cable Television</p>
                <p>Small balcony to get some fresh air</p>
            </div>
            <div class="pure-u-1-2 services" ><img src="/images/internet.jpeg">
            </div>
            <div class="pure-u-1-2 services">
                <h1>Apartment</h1>
                <p>Our apartments feature a Queen Sized Bed</p>
                <p>One Single bed and a Couch</p>
                <p>Bathroom with shower cabinet an Bathtub</p>
                <p>Kitchen with small stove, water boiler and mini-fridge</p>
                <p>Free Internet access and a two desks</p>
                <p>Cable Television including HBO</p>
                <p>Small balcony to get some fresh air</p>
            </div>
        </div>
    </div>

<%- include partials/tail.ejs %>