<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Hotel Sandor</title>
    <meta name="description" content="Landing page">
    <meta name="author" content="Trombitas Imre- Sandor">


    <link rel="stylesheet" href="stylesheets/pure-min.css">
    <link rel="stylesheet" href="stylesheets/grids-responsive-min.css">
    <link rel="stylesheet" href="stylesheets/flexslider.css">
    <link rel="stylesheet" href="stylesheets/forms.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


</head>

<body>

    <header class="content clearfix nav">
        <a href="#" class="hamburger"><i class="fa fa-bars fa-2x"></i></a>
        <div class="login">
            <div class="uname"><% if (user != undefined) { %> <div class="username"> <%= user %> </div> <a href="/logout">Logout</a><% } else { %> <a href="/login">Login</a> <a href="/register">Register</a> <% } %></div>
        </div>
    </header>
    <ul class="menu content">
        <a href="/">
            <li class="menu-item">Home</li>
        </a>
        <a href="/rooms">
            <li class="menu-item">Rooms</li>
        </a>
        <a href="/reservations">
            <li class="menu-item">Reservations</li>
        </a>
        <!--<a href="#">-->
        <!--    <li class="menu-item">Contact</li>-->
        <!--</a>-->
        <a href="/admin">
            <li class="menu-item">Administration</li>
        </a>
    </ul>
    <div class="content">
        <div class="line"></div>
    </div>
    <div class="content">
        <h1 class="logo"> Hotel Sandor</h1>
    </div>