</body>
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="javascripts/jquery.flexslider-min.js"></script>
<script src="javascripts/jquery.nicescroll.js"></script>
<script src="javascripts/main.js"></script>


</html>